@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotasModel
@{
}
<div class="text-center">
    <h1>Detalles de la Mascota</h1>
</div>


<div>Id: @Model.mascota.Id</div>
<div>Nombre: @Model.mascota.Nombre</div>
<div>Color: @Model.mascota.Color</div>
<div>Especie: @Model.mascota.Especie</div>
<div>Raza: @Model.mascota.Raza</div>
<div>Dueño: </div>

<a asp-page="./ListaMascotas" class="btn-default">
    Lista de Mascotas
</a>