@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotasModel
@{
}
<div class="text-center">
    <h2>Detalles de la Mascota</h2>
</div>


<div>Id: @Model.mascota.Id</div>
<div>Nombre: @Model.mascota.Nombre</div>
<div>Color: @Model.mascota.Color</div>
<div>Especie: @Model.mascota.Especie</div>
<div>Raza: @Model.mascota.Raza</div>

<div>Id Dueño: @Model.mascota.Dueno.Id</div>
<div>Nombre Dueño: @Model.mascota.Dueno.Nombres @Model.mascota.Dueno.Apellidos</div>
<div>Veterinario Asignado : @Model.mascota.Veterinario.Nombres @Model.mascota.Veterinario.Apellidos</div>



<a asp-page="./ListaMascotas" class="btn-default">
    Lista de Mascotas
</a>