@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}

<div class="text-center">
    <h1>Listado de Mascotas</h1>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Color</th>
    </tr>
    @foreach (var mascota in Model.listaMascotas)
    {
        <tr>
            <td>@mascota.Id</td>
            <td>@mascota.Nombre</td>
            <td>@mascota.Color</td>
        
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                    Detalle Mascota
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                    Editar Mascota
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./BorrarMascotas" asp-route-mascotaId="@mascota.Id">
                    Borrar Mascota
                </a>
            </td>


        </tr>
    }

</table>
<div>
    <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default" >Adicionar Mascotas</a>
</div>
