@page 
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}

<div class="text-center">
    <h1>Listado de Mascotas</h1>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Raza</th>
        <th>Nombre Dueño</th>
        <th>Veterinario Asignado</th>
    </tr>
    @foreach (var mascota in Model.listaMascotas)
    {
        <tr>
            <td>@mascota.Id</td>
            <td>@mascota.Nombre</td>
            <td>@mascota.Color</td>
            <td>@mascota.Raza</td>
            <td>@mascota.Dueno.Nombres @mascota.Dueno.Apellidos</td>
            <td>Id:@mascota.Veterinario.Id @mascota.Veterinario.Nombres @mascota.Veterinario.Apellidos</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                    Detalle Mascota
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                    Editar Mascota
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./AsignarDueno" asp-route-mascotaId="@mascota.Id">
                    Asignar Dueño
                </a>
            </td>

        </tr>
    }

</table>
<div>
    <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default" >Adicionar Mascotas</a>
</div>
