@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}

<div class="text-center">
    <div class="cont-info ">
        <h2><span>Listado de Mascotas</span></h2>
    </div>
</div>
<div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Color</th>
            <th>Raza</th>
            <th>Nombre Dueño</th>
            <th>IdV</th>
            <th>Veterinario Asignado</th>
        </tr>
        @foreach (var mascota in Model.listaMascotas)
        {
            <tr>
                <td>@mascota.Id</td>
                <td>@mascota.Nombre</td>
                <td>@mascota.Color</td>
                <td>@mascota.Raza</td>
                <td>@mascota.Dueno.Nombres @mascota.Dueno.Apellidos</td>
                <td>@mascota.Veterinario.Id</td>
                <td>@mascota.Veterinario.Nombres @mascota.Veterinario.Apellidos</td>

                <td>
                    <a class="btn btn-primary table-btn" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                        Detalle Mascota
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                        Editar Mascota
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./ListaMascotas" asp-route-mascotaId="@mascota.Id">
                        Borrar Mascota
                    </a>
                </td>


            </tr>
        }

    </table>
    <div>
        <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default">Adicionar Mascotas</a>
    </div>
